* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: inherit; /* El valor de Fuente lo heredarías de la etiqueta <html>*/
  background-color: red;
}
